body {
  background: #cdeecd;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.error {
  color: red;
  font-size: 1.1rem;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

@media (max-width: 700px) {
  .redes1 {
    width: 40px !important;
  }
  .redes2 {
    width: 50px !important;
  }
  .redes3 {
    width: 25px !important;
  }
}

main section {
  margin-top: 150px;
}

main .slider {
  margin-bottom: 230px !important;
}

main h3 {
  font-weight: 900;
  margin-bottom: 13px;
}

main p {
  font-size: 16px;
}

.carousel-inner,
.carousel,
.carousel-item,
.fill {
  height: 100%;
  min-height: 400px;
  width: 100%;
  background-position: center center;
  background-size: cover;
}

.slide-wrapper {
  display: inline;
}

.slide-wrapper {
  padding: 0;
}

/*------------------------------ vertical bootstrap slider----------------------------*/
.carousel-inner > .carousel-item.carousel-item-next,
.carousel-inner > .carousel-item.active.carousel-item-right {
  transform: translate3d(0, 100%, 0);
  -webkit-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  -moz-transform: translate3d(0, 100%, 0);
  -o-transform: translate3d(0, 100%, 0);
  top: 0;
}

.carousel-inner > .carousel-item.carousel-item-prev,
.carousel-inner > .carousel-item.active.carousel-item-left {
  transform: translate3d(0, -100%, 0);
  -webkit-transform: translate3d(0, -100%, 0);
  -moz-transform: translate3d(0, -100%, 0);
  -ms-transform: translate3d(0, -100%, 0);
  -o-transform: translate3d(0, -100%, 0);
  top: 0;
}

.carousel-inner > .carousel-item.next.carousel-item-left,
.carousel-inner > .carousel-item.carousel-item-prev.carousel-item-right,
.carousel-inner > .carousel-item.active {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  top: 0;
}

/*------------------------------- vertical carousel indicators ------------------------------*/
.carousel-indicators {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 20px;
  right: 10px;
  left: auto;
  width: auto;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.carousel-indicators li {
  display: block;
  margin-bottom: 5px;
  border: 1px solid #00a199;
}

.carousel-indicators li.active {
  margin-bottom: 5px;
  background: #00a199;
}

.whats-icon {
  position: fixed;
  right: 15px;
  bottom: 20px;
  width: 4.5rem;
}

#wrapper {
  position: relative;
  width: 100%;
  min-height: 55vw;
  overflow: hidden;
}

.layer {
  position: absolute;
  width: 100vw;
  min-height: 55vw;
  overflow: hidden;
}

.layer .content-wrap {
  position: absolute;
  width: 100vw;
  min-height: 55vw;
}

.layer .content-body {
  width: 25%;
  position: absolute;
  top: 50%;
  text-align: center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff;
}

.layer img {
  position: absolute;
  width: 35%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.layer h1 {
  font-size: 2em;
}

.bottom {
  background: #222;
  z-index: 1;
}

.bottom .content-body {
  right: 5%;
}

.bottom h1 {
  color: #FDAB00;
}

.top {
  background: #eee;
  color: #222;
  z-index: 2;
  width: 50vw;
}

.top .content-body {
  left: 5%;
  color: #222;
}

.handle {
  position: absolute;
  height: 100%;
  display: block;
  background-color: #FDAB00;
  width: 5px;
  top: 0;
  left: 50%;
  z-index: 3;
}

.skewed .handle {
  top: 50%;
  -webkit-transform: rotate(30deg) translateY(-50%);
          transform: rotate(30deg) translateY(-50%);
  height: 200%;
  -webkit-transform-origin: top;
          transform-origin: top;
}

.skewed .top {
  -webkit-transform: skew(-30deg);
          transform: skew(-30deg);
  margin-left: -1000px;
  width: calc(50vw + 1000px);
}

.skewed .top .content-wrap {
  -webkit-transform: skew(30deg);
          transform: skew(30deg);
  margin-left: 1000px;
}

@media (max-width: 768px) {
  body {
    font-size: 75%;
  }
}

nav a {
  font-weight: 900;
  color: white;
}

nav .nav-link {
  font-weight: 700;
  font-size: 1.6rem;
}

nav .nav-link:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.contacto {
  margin-bottom: 100px;
}

@media (max-width: 700px) {
  .s1 {
    margin-top: 65px !important;
  }
  .s2 {
    margin-top: -30px !important;
  }
  .slider {
    margin-top: 70px !important;
  }
  .contacto {
    margin-top: -120px;
  }
  .sobremi {
    height: 200px !important;
  }
}

@media (min-width: 700px) {
  .sobremi {
    height: 600px;
    width: 400px;
  }
}

@media (max-width: 700px) {
  #comment {
    width: 100%;
  }
  .mapa {
    width: 100%;
  }
}
